@import './variables.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: open-sans, sans-serif;
  background-color: $background;
  color: $black;
}

h1 {
  margin: 33.5px 0px;
  font-size: 50px;
  line-height: 55px;
  font-weight: 700;
  align-self: flex-start;
}

h2 {
  margin: 0 0 0.5em;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  align-self: flex-start;
}

h3 {
  margin: 0px 0px 33.5px 0px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
a {
  &.gray {
    color: $gray;
  }
  &.dark-gray {
    color: $dark-gray;
  }
  &.black {
    color: $black;
  }
  &.blue {
    color: $blue;
  }
  &.white {
    color: $white;
  }
}

.results {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  padding: 2em;
  overflow-y: scroll;
  height: calc(100vh - 50px);
}

.result-tile {
  cursor: pointer;
  margin-bottom: 2em;

  h2 {
    text-align: center;
    font-weight: 200;
  }
}



p {
  margin: 0px 0px 33.5px 0px;
  color: $dark-gray;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  align-self: flex-start;
}

strong {
  font-weight: 700;
}


